
  .profileView{

    color:aliceblue;
    align-items: center;
    align-content: center;
    margin: 10% 42% 10% 35%;

  }
  
.recentProfileCard{
  /* border: 1px solid white; */
  width: 200%;
  align-items: center;
  text-align: center;
  margin-left: 1%;
  background-color: rgba(255, 255, 255, 0.304);
}
.profileImage img{
  height: 250px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  /* border: 1px solid white; */
}