@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

/* *{
    margin: 0;
    padding: 0;
    
  } */
  .container-upload p{
    font-size: 28px;
    color: rgb(0, 194, 194);
    font-family: 'Josefin Sans', sans-serif;
  }
  .container-upload{
    width: 100%;
    height: 800px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-group input{
    color: rgb(0, 0, 0);
  }
  .form-group input:hover{
    color: rgb(255, 255, 255);
  }

  .error-msg{
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 600;
  }
  .form-group{
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.237);
    border-radius: 5%;
    justify-content: center;
  }

  .btn-upload a{
    color:whitesmoke ;
  }
  .btn-upload{
    background-color:green;
    border-radius: 500px;
    padding: 2%;
    width: 7rem;
    margin-left: 25%;
  }
  .btn-upload:hover{
    scale: 1.2;
    background-color:rgb(2, 188, 2);

  }